/*------------------------------------------------------------------
GENERATED CSS FILE
-------------------------------------------------------------------*/

h5:after {
	background: #ff6400;
}
ul.marker-list li:before {
	color: #ff6400;
}
.btn.btn-primary {
	background: #ff6400;
	border: 1px solid #ff6400;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active:focus {
	background: #cc5000;
	border-color: #cc5000;
}
.btn.btn-primary-warning:hover {
	background: #ff6400;
	border-color: #ff6400;
}
blockquote:before, .blockquote:before {
	color: #ff6400;
}
.post.sticky:after {
	color: #ff6400;
}
.header .navbar .navbar-nav > li.active > a {
	border-bottom: 1px solid #ff6400;
}
.header .navbar .navbar-nav > li > a:hover {
	border-bottom: 1px solid #ff6400;
}
.header .navbar .navbar-nav > li.current-menu-ancestor > a {
	border-bottom: 1px solid #ff6400;
}
.header .navbar .navbar-nav .open > a, .header .navbar .navbar-nav .open > a:focus, .header .navbar .navbar-nav .open > a:hover {
	color: #ff6400;
}
.header .navbar .navbar-nav.wrap-user-control li {
	color: #ff6400;
}
.header .navbar .navbar-nav.wrap-user-control li a {
	color: #ff6400;
}
.wrap-inside-nav {
	border-top: 2px solid #ff6400;
}
.wrap-inside-nav .inside-col .inside-nav li.active > a {
	color: #ff6400;
}
.wrap-inside-nav .inside-col .inside-nav li a:active, .wrap-inside-nav .inside-col .inside-nav li a:focus {
	color: #ff6400 !important;
}
.wrap-inside-nav .inside-col .inside-nav li a:hover, .wrap-inside-nav .inside-col .inside-nav li a:active:hover, .wrap-inside-nav .inside-col .inside-nav li a:visited:hover, .wrap-inside-nav .inside-col .inside-nav li a:focus:hover {
	color: #ff6400 !important;
}
.social-section .list-socials li a:hover {
	background: #ff6400;
	border-color: #ff6400;
}
.oscend_flickr h5:after {
	background: #ff6400;
}
.fobox h5:after {
	background: #ff6400;
}
.fobox a:hover {
	color: #ff6400;
}
.text-white .fobox a:hover {
	color: #ff6400;
}
.sidebar .sidebar-item ul li.current-cat > a, .sidebar .sidebar-item ul li.current_page_item > a {
	color: #ff6400;
}
.sidebar .widget_archive ul li a:before, .sidebar .widget_categories ul li a:before, .sidebar .widget_pages ul li a:before, .sidebar .widget_nav_menu ul li a:before, .sidebar .widget_portfolio_category ul li a:before {
	color: #ff6400;
}
.sidebar .widget_search .icon {
	color: #ff6400;
}
.sidebar .tagcloud a:hover {
	background: #ff6400;
	border-color: #ff6400;
}
.sidebar .widget_rss .widget-title .rsswidget:hover {
	color: #ff6400;
}
.sidebar .widget_pix_totalposts .nav-tabs li.active a, .sidebar .widget_pix_totalposts .nav-tabs li:hover a {
	border-top: 1px solid #ff6400;
}
.latest-works-section .scroll-pane .scroll-content-item .name:before {
	border: 2px solid #ff6400;
}
.video-section .btn-play {
	color: #ff6400;
}
.icon-contact-block .type-info span {
	color: #ff6400;
}
.oscend-contact-form input[type="submit"] {
	background: #ff6400;
	border: 1px solid #ff6400;
}
.oscend-contact-form input[type="submit"]:hover, .oscend-contact-form input[type="submit"]:focus, .oscend-contact-form input[type="submit"]:active:focus {
	background: #cc5000;
	border-color: #cc5000;
}
.oscend-mc4wp .icon {
	color: #ff6400;
}
.portfolio-single-section .work-heading .controls ul li a:hover .fa {
	color: #ff6400;
}
.portfolio-single-section .work-image .image .controls .big-view a {
	background: #ff6400;
}
.portfolio-single-section .work-image .image .controls .big-view a:hover {
	background: #cc5000;
}
.portfolio-single-section .work-image .owl-controls .owl-pagination .owl-page.active {
	background: #ff6400;
	border-color: #ff6400;
}
.offers-section .text-item:after {
	background: #ff6400;
}
.blog-content-section .left-column .wrap-blog-post .wrap-linked-image {
	background: #ff6400;
}
.blog-content-section .left-column .wrap-blog-post .post-body-title:after {
	background: #ff6400;
}
.blog-content-section .left-column .wrap-blog-post .list-socials li a:hover {
	background: #ff6400;
	border-color: #ff6400;
	-moz-box-shadow: 0 0 1px #cc5000 inset;
	-webkit-box-shadow: 0 0 1px #cc5000 inset;
	box-shadow: 0 0 1px #cc5000 inset;
}
#page-preloader .spinner {
	border-top-color: #ff6400;
}
.wrap-pagination .pagination-list li a:hover {
	-moz-box-shadow: 0 0 0 1px #ff6400 inset;
	-webkit-box-shadow: 0 0 0 1px #ff6400 inset;
	box-shadow: 0 0 0 1px #ff6400 inset;
	background: #ff6400;
}
.wrap-pagination .pagination-list li.active a {
	-moz-box-shadow: 0 0 0 1px #ff6400 inset;
	-webkit-box-shadow: 0 0 0 1px #ff6400 inset;
	box-shadow: 0 0 0 1px #ff6400 inset;
	background: #ff6400;
}
.vc_row_anchor .wrap-anchor .wrap-anchor-link:hover .section-icon:after {
	background: #ff6400;
}
.twitter .slider-title i {
	color: #ff6400;
}
.twitter .wrap-section-slider .owl-controls .owl-pagination .owl-page.active {
	background: #ff6400;
	border-color: #ff6400;
}
.text-black .twitter .slider-title i {
	color: #ff6400;
}
.section-heading .design-arrow:after {
	border: 2px solid #ff6400;
}
.service-item:hover .wrap-service-icon .service-icon {
	background: #ff6400;
	border-color: #ff6400;
}
.text-white .service-item:hover .wrap-service-icon .service-icon {
	background: #ff6400;
	border-color: #ff6400;
}
.plan-item.active {
	border-top: 5px solid #ff6400;
}
.plan-item.active .item-footer .btn {
	background: #ff6400;
}
.plan-item .item-heading .name {
	color: #ff6400;
}
.plan-item .item-footer .btn:hover {
	background: #ff6400;
}
.news-item .news-body h5:after {
	background: #ff6400;
}
.news-item .image .read-more:before {
	border: 2px solid #ff6400;
}
.feature-item:hover .wrap-feature-icon, .feature-item.active .wrap-feature-icon {
	background: #ff6400;
	border-color: #ff6400;
}
.feature-item:hover .wrap-feature-icon .feature-icon, .feature-item.active .wrap-feature-icon .feature-icon {
	background: #ff6400;
	border-color: #cc5000;
}
.feature-item .title:after {
	background: #ff6400;
}
.text-white .feature-item:hover .wrap-feature-icon, .text-white .feature-item.active .wrap-feature-icon {
	background: #ff6400;
	border-color: #ff6400;
}
.text-white .feature-item:hover .wrap-feature-icon .feature-icon, .text-white .feature-item.active .wrap-feature-icon .feature-icon {
	background: #ff6400;
	border-color: #cc5000;
}
.wpb_column + .wpb_column .achieve-item:before {
	border: 2px solid #ff6400;
}
.step-item.invert .item-icon {
	background: #ff6400;
}
.step-item .item-icon:before {
	background: #ff6400;
}
.team-slider .slick-list .slick-track .slide-item .slide-description .contacts {
	background: #ff6400;
}
.one-team-item .slide-description .contacts {
	background: #ff6400;
}
.portfolio-item .portfolio-image .portfolio-item-body.center-body ul li a:hover {
	background: #ff6400;
	border-color: #ff6400;
}
.portfolio-item .portfolio-image .portfolio-item-body .name:before {
	border: 2px solid #ff6400;
}
.folio-isotop-filter ul > li a:hover {
	background: #ff6400;
}
.folio-isotop-filter ul > li a:hover:after {
	border-top-color: #ff6400;
}
.folio-isotop-filter ul > li a.selected {
	background: #ff6400;
}
.folio-isotop-filter ul > li a.selected:after {
	border-top-color: #ff6400;
}
.wrap-timeline .time-item .date {
	color: #ff6400;
}
.wrap-timeline .plus .plus-ico:hover {
	background: #ff6400;
}
.service-navigation ul li.active .navigation-icon, .service-navigation ul li:hover .navigation-icon {
	background: #ff6400;
}
.service-navigation ul li.active .navigation-icon:after, .service-navigation ul li:hover .navigation-icon:after {
	border-top-color: #ff6400;
}
.service-navigation ul li.active .navigation-icon span, .service-navigation ul li:hover .navigation-icon span {
	background: #ff6400;
	border-color: #cc5000;
}
.service-navigation .navigation-item h5:after {
	background: #ff6400;
}
.social-list li a:hover {
	background: #ff6400;
	border-color: #ff6400;
	-moz-box-shadow: 0 0 1px #cc5000 inset;
	-webkit-box-shadow: 0 0 1px #cc5000 inset;
	box-shadow: 0 0 1px #cc5000 inset;
}
.plan-item .item-body ul li:before {
	color: #ff6400;
}

body .booked-calendar-wrap .booked-appt-list .timeslot .timeslot-title {
	color: #ff6400 !important;
}

body .yp-demo-link {
	background: #ff6400 !important;
}

body .yp-demo-link:hover,
body .yp-demo-link:active,
body .yp-demo-link:focus {
		background: #cc5000 !important;
}

.rtd .page-title:after, .rtd .related h2:after {
	background: #ff6400;
}
p.demo_store {
	background-color: #ff6400;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
	border-top: 3px solid #ff6400 ;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	-moz-box-shadow: 0 0 0 1px #ff6400 inset;
	-webkit-box-shadow: 0 0 0 1px #ff6400 inset;
	box-shadow: 0 0 0 1px #ff6400 inset;
	background: #ff6400;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
	-moz-box-shadow: 0 0 0 1px #ff6400 inset;
	-webkit-box-shadow: 0 0 0 1px #ff6400 inset;
	box-shadow: 0 0 0 1px #ff6400 inset;
	background: #ff6400;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background-color: #ff6400;
	border: 1px solid #ff6400;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus {
	background-color: #cc5000;
	border-color: #cc5000;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #cc5000;
	border-color: #cc5000;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #ff6400;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #ff6400 ;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #ff6400}
.widget_product_search .icon {
	color: #ff6400;
}
.sidebar .widget_product_categories ul li a:before {
	color: #ff6400;
}


@media (max-width: 767px) {
	.wrap-inside-nav .wrap-inside-nav {
		border-top: 2px solid #ff6400;
		border-bottom: 2px solid #ff6400;
	}
}

















