<!-- wp:template-part {"slug":"header","theme":"spark-factor-theme","tagName":"header"} /-->

<!-- wp:group {"backgroundColor":"foreground","className":"content"} -->
<div class="wp-block-group content has-foreground-background-color has-background">
<!-- wp:post-title {"textAlign":"center","align":"center","style":{"typography":{"textTransform":"uppercase"}},"textColor":"primary"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->